<div class="container-fluid">
    <div class="row">

        <div class=" main">

            <!-- TODO Resize image, figure out best way to center content on page, spacing-->
            <img id = "siteintro" src="views/home/home-page-logo.png" class="center-block img-responsive"  alt="The Real Housewives">

            <div id = "siteintro" class="col-sm-offset-2 col-sm-8">
                <p>
                  Basic Site Explanation will go here...
                </p>
            </div>

            <div class="col-sm-offset-2 col-sm-8" >
                <a class="btn btn-block btn-primary" a href="#/register">Sign Up</a>
            </div>

        </div>
    </div>
</div>