<div class="main col-sm-offset-3 col-sm-6">
    <h1 class="page-header" style="text-align: center;">Sign Up</h1>

    <form class="form-horizontal">
        <div class="form-group">

            <div>
                <input ng-model = "user.email" type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <div >
                <input ng-model = "user.username" type="text" class="form-control" id="inputUsername" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <div >
                <input ng-model = "user.password" type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div >
                <input ng-model = "user.password2" type="password" class="form-control" id="inputPasswordVerify" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <!--TODO remove the style tag here-->
            <div  style="text-align:center; vertical-align:middle">
                <input  ng-model = "user.housewifeStatus" type="checkbox"  id="housewifeStatus"> Are you a Housewife?
            </div>
        </div>

        <div class="form-group">
            <div>
                <a ng-click="model.register(user)" class="btn btn-block btn-primary">Continue</a>
            </div>
        </div>
    </form>

</div>
