<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Which Housewives do you watch?</h1>

    <form class="form-horizontal">
        <div class="form-group">
            <!--TODO remove the style tag here-->
            <div class="col-sm-12" style="text-align:center; vertical-align:middle">
                <input  ng-model = "user.OC" type="checkbox"  id="OCstatus"> The Real Housewives of Orange County
            </div>
        </div>

        <div class="form-group">
            <!--TODO remove the style tag here-->
            <div class="col-sm-12" style="text-align:center; vertical-align:middle">
                <input  ng-model = "user.NYC" type="checkbox"  id="NYCstatus"> The Real Housewives of New York City
            </div>
        </div>

        <div class="form-group">
            <!--TODO remove the style tag here-->
            <div class="col-sm-12" style="text-align:center; vertical-align:middle">
                <input  ng-model = "user.NJ" type="checkbox"  id="NJstatus"> The Real Housewives of New Jersey
            </div>
        </div>

        <div class="form-group">
            <!--TODO remove the style tag here-->
            <div class="col-sm-12" style="text-align:center; vertical-align:middle">
                <input  ng-model = "user.ATL" type="checkbox"  id="ATLstatus"> The Real Housewives of Atlanta
            </div>
        </div>


        <div class="form-group">
            <!--TODO remove the style tag here-->
            <div class="col-sm-12" style="text-align:center; vertical-align:middle">
                <input  ng-model = "user.BH" type="checkbox"  id="BHstatus"> The Real Housewives of Beverly Hills
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <a ng-click="model.register(user)" class="btn btn-block btn-primary">Continue</a>
            </div>
        </div>
    </form>

</div>
