
<div class="container-fluid">
    <div class="row">
        <div class="main col-sm-offset-2 col-sm-8">
            <h1 class="page-header">Where are you in each city...</h1>

            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th>City</th>
                    <th>Season</th>
                    <th>Episode</th>

                </tr>
                </thead>
                <tbody ng-repeat="(i,city) in model.cities">
                <!--TODO Make array of all housewife franchises, and pull from that array using ng-repeat, don't hard code-->

                <tr ng-show="currentUser.cities[i].View">
                    <td>
                        <p>{{city}}</p>
                    </td>
                    <td>
                        <input type="number" name="season" ng-model = "model.Season[city]">
                    </td>
                    <td>
                        <input type="number" name="episode" ng-model = "model.Episode[city]">
                    </td>
                </tr>

                </tbody>
            </table>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6">
                    <a ng-click="model.register()" class="btn btn-block btn-primary">Finish</a>
                </div>
            </div>
        </div>
    </div>
</div>
