
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1 class="page-header">Forms: Registration Forms</h1>

            <ul class="nav nav-tabs">
                <li role="presentation"><a href="#/forms">Forms</a></li>
                <li role="presentation" class="active"><a href="#">Fields</a></li>
            </ul>




            <table class = "table table-responsive">
                <tbody>

                <tr ng-repeat = "form in forms" ng-switch on="form.type">



                    <td ng-switch-when="TEXT">
                        <label for="inputFirstName">{{form.label}}</label>
                        <input type="text" class="form-control" id="inputFirstName" placeholder="{{form.placeholder}}">
                    </td>
                    <td ng-switch-when="TEXTAREA">
                        <label for="inputLastName">{{form.label}}</label>
                        <input type="text" class="form-control" id="inputLastName" placeholder="{{form.placeholder}}">
                    </td>
                    <td ng-switch-when="DATE">
                        <label>Date of Birth:</label>
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='date' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker1').datetimepicker();
                            });
                        </script>
                    </td>
                    <td ng-switch-when="OPTIONS">
                        <label>Gender</label>
                        <select class="form-control" id="sel1">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </td>
                    <td ng-switch-when="CHECKBOXES">
                        <label>Roles</label>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Admin</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Student</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">User</label>
                        </div>
                    </td>
                    <td ng-switch-when="RADIOS">
                        <label>License Agreement</label>
                        <div class="radio">
                            <label><input type="radio" name="optradio">Yes</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optradio">No</label>
                        </div>
                    </td>

                    <td>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </button>
                    </td>

                </tr>













                <tr>
                    <td>

                        <label>Add New Field:</label>
                        <select class="form-control" id="sel1" ng-model = "model.fieldType">
                            <option>Single Line Text Field</option>
                            <option>Multi Line Text Field</option>
                            <option>Date Field</option>
                            <option>Dropdown Field</option>
                            <option>Checkbox Field</option>
                            <option>Radio Button Field</option>
                        </select>

                    </td>
                    <td>
                        <button type="button" class="btn btn-default" ng-click = "model.addField(model.fieldType)" >
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>

                    </td>
                </tr>
                </tbody>
            </table>


            <div class="container">

                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-header ng-scope">{{model.fieldType}}</div>
                        <div class="modal-body ng-scope" ng-switch="model.fieldType">
                            <label for="label">Label: </label>
                            <input ng-model="dialogField.label" type="text" class="form-control" id="label" placeholder="Enter a label">

                            <div ng-switch-when="Single Line Text" >
                                <label for="placeholdertext">Placeholder: </label>
                                <input ng-model="dialogField.placeholder" type="text" class="form-control" id="placeholdertext" placeholder="Enter a placeholder">
                            </div>

                            <div ng-switch-when="Multi Line Text Field">
                                <label  for="placeholder">Placeholder: </label>
                                <input  ng-model="dialogField.placeholder" type="text" class="form-control" id="placeholder" placeholder="Enter a placeholder">
                            </div>



                            <div ng-switch-when="Dropdown Field">
                                <label for="options">Options</label>
                                    <select class="form-control" id="options">
                                        <option>Toyota</option>
                                        <option>Land Rover</option>
                                        <option>Honda</option>
                                        <option>Mercedez</option>
                                </select>
                            </div>

                            <div ng-switch-when="Checkbox Field">
                                <label ng-switch-when="Checkbox Field" for="checkboxes">Options</label>
                                <div class="checkbox">
                                    <label><input type="checkbox" id = "checkboxes" value="">Admin</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" id = "checkboxes"  value="">Student</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" id = "checkboxes"  value="">User</label>
                                </div>
                            </div>

                            <div ng-switch-when="Radio Button Field">
                                <label for="radios">Gender</label>
                                <div class="radio" id="radios">
                                    <label><input type="radio" name="optradio">Male</label>
                                </div>
                                <div class="radio" id="radios">
                                    <label><input type="radio" name="optradio">Female</label>
                                </div>
                            </div>

                            <div class="modal-footer ng-scope">
                                <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>

            </div>
    </div>
</div>

