
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1 class="page-header">Forms: Registration Forms</h1>

            <ul class="nav nav-tabs">
                <li role="presentation"><a href="#/forms">Forms</a></li>
                <li role="presentation" class="active"><a href="#">Fields</a></li>
            </ul>

            <table class = "table table-responsive">
                <tbody>
                <tr>

                    <td>
                        <label for="inputFirstName">First Name</label>
                        <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                    </td>
                    <td>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="inputLastName">Last Name</label>
                        <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                    </td>
                    <td>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Date of Birth:</label>
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='date' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker1').datetimepicker();
                                });
                            </script>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </button>
                    </td>
                </tr>

                <tr>
                    <td>

                        <label>Gender</label>
                        <select class="form-control" id="sel1">
                            <option>Male</option>
                            <option>Female</option>
                        </select>

                    </td>
                    <td>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </button>
                    </td>
                </tr>

                <tr>
                    <td>

                        <label>Roles</label>
                        <div class="checkbox">
                                <label><input type="checkbox" value="">Admin</label>
                        </div>
                        <div class="checkbox">
                        <label><input type="checkbox" value="">Student</label>
                        </div>
                        <div class="checkbox">
                        <label><input type="checkbox" value="">User</label>
                        </div>
                    </td>
                <td>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </button>
                </td>
                    </tr>
                <tr>
                <td>
                    <label>License Agreement</label>
                    <div class="radio">
                        <label><input type="radio" name="optradio">Yes</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="optradio">No</label>
                    </div>

                </td>
                <td>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </button>
                </td>
                </tr>

                <tr>
                    <td>

                        <label>Add New Field:</label>
                        <select class="form-control" id="sel1">
                            <option>Single Line Text</option>
                            <option>Date</option>
                            <option>Dropdown</option>
                            <option>Checkboxes</option>
                            <option>Radio Buttons</option>
                            <option>Paragraph Text Field</option>
                        </select>

                    </td>
                    <td>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>

                    </td>
                </tr>
                </tbody>
            </table>
    </div>
</div>

