<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


<h3>{{model.name}}</h3>

<p>
    <img src="images/housewife.jpg" width="280" height="280" alt="Housewife (make editable)" align="right" style="margin-left:16px">
    Text here of what wife posts.  This will be editable field for particular wife, but not for anyone else (just visable).  Want to make a database to store wife profiles, but was unable to finsh configuration of that.  Have to still work to make these profiles public for fans to view, and not edit.
</p>

<h4>allow wife to make form here for entry</h4>
             </div>
        </div>
    </div>